MONGO_URL=mongodb://localhost:27017
DB_NAME=sombrx
TELEGRAM_TOKEN=PON_AQUI_EL_TOKEN_DEL_BOT
OWNER_ID=PON_AQUI_TU_ID_DE_TELEGRAM
TELEGRAM_CHANNEL=@tu_canal
CORS_ORIGINS=*
APP_NAME=sombrx-system
EMERGENT_LLM_KEY=
